@page
@model IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<a class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" asp-page="../Polls/Create">Create poll</a>

<div class="mt-3 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Guid</th>
                <th scope="col" class="px-6 py-3">Closed Date</th>
                <th scope="col" class="px-6 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Polls)
            {
                var pollGuid = item.PollGuid.ToString("N");
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="px-6 py-4">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="px-6 py-4">@pollGuid</td>
                    <td class="px-6 py-4">@Html.DisplayFor(modelItem => item.CloseDate)</td>
                    <td class="px-6 py-4 flex">
                        <a asp-page="../Polls/Index" asp-route-id="@item.Id">
                            <button class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                Open
                            </button>
                        </a>
                        <a asp-page="../Polls/Participate" asp-route-pollGuid="@pollGuid">
                            <button class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                Participate
                            </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>